@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  body {
    @apply bg-[#f6f6f6] text-gray-900 dark:bg-[rgb(50,51,54)] dark:text-gray-100;
  }
  a {
    @apply items-center gap-2 font-normal text-[#4b81bf];
    text-underline-offset: 0.08em;
  }
}
@layer utilities {
  .wrapper {
    @apply mx-auto w-full max-w-[65em] px-8;
  }
}
.prose :where(code):not(:where([class~="not-prose"] *))::before {
  content: "";
}
.prose :where(code):not(:where([class~="not-prose"] *))::after {
  content: "";
}
.prose :where(code):not(:where([class~="not-prose"] *)) {
  font-family: "Cascadia Code", Consolas, Monaco, "Andale Mono", "Ubuntu Mono",
    monospace;
}
.prose :where(pre):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  font-size: 1em;
  font-family: "Cascadia Code", Consolas, Monaco, "Andale Mono", "Ubuntu Mono",
    monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre.astro-code > code {
  all: unset;
}

code[class*="astro-code"],
pre[class*="data-language"] {
  color: #839496;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-family: "Cascadia Code", Consolas, Monaco, "Andale Mono", "Ubuntu Mono",
    monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*="astro-code"] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
  border-radius: 0.3em;
}
