@tailwind base;
@layer base {
  body {
    @apply bg-[#f6f6f6] font-mono text-gray-900 dark:bg-[rgb(50,51,54)] dark:text-gray-100;
  }
  a {
    @apply font-normal no-underline items-center gap-2;
    color: var(--theme-accent);
    text-underline-offset: 0.08em;
  }
}
@tailwind components;
@tailwind utilities;

:root {
  --color-white: #fff;
  --color-black: #000014;
  --color-gray-50: #f9fafb;
  --color-gray-100: #f3f4f6;
  --color-gray-200: #e5e7eb;
  --color-gray-300: #d1d5db;
  --color-gray-400: #9ca3af;
  --color-gray-500: #6b7280;
  --color-gray-600: #4b5563;
  --color-gray-700: #374151;
  --color-gray-800: #1f2937;
  --color-gray-900: #111827;

  --color-blue: #3894ff;
  --color-classic-blue: #92a8d1;
  --color-blue-rgb: 56, 148, 255;
  --color-green: #17c083;
  --color-green-rgb: 23, 192, 131;
  --color-orange: #ff5d01;
  --color-orange-rgb: 255, 93, 1;
  --color-purple: #882de7;
  --color-purple-rgb: 136, 45, 231;
  --color-red: #ff1639;
  --color-red-rgb: 255, 22, 57;
  --color-yellow: #ffbe2d;
  --color-yellow-rgb: 255, 190, 45;
}

:root {
  color-scheme: light;
  --theme-accent: var(--color-classic-blue);
  --theme-accent-rgb: var(--color-orange-rgb);
  --theme-accent-opacity: 0.1;
  --theme-divider: var(--color-gray-200);
  --theme-text: var(--color-gray-800);
  --theme-text-light: var(--color-gray-600);
  --theme-text-lighter: var(--color-gray-400);
  --theme-bg: var(--color-white);
  --theme-bg-offset: var(--color-gray-100);
  --theme-bg-accent: rgba(var(--theme-accent-rgb), var(--theme-accent-opacity));
  --theme-code-inline-bg: var(--color-gray-100);
  --theme-code-text: var(--color-gray-100);
  --theme-code-bg: var(--color-gray-700);
}

:root.theme-dark {
  color-scheme: dark;
  --theme-accent-opacity: 0.3;
  --theme-divider: var(--color-gray-900);
  --theme-text: var(--color-gray-200);
  --theme-text-light: var(--color-gray-400);
  --theme-text-lighter: var(--color-gray-600);
  --theme-bg: var(--color-black);
  --theme-bg-offset: var(--color-gray-900);
  --theme-code-inline-bg: var(--color-gray-800);
  --theme-code-text: var(--color-gray-200);
  --theme-code-bg: var(--color-gray-900);
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 65em;
  padding-left: 2rem;
  padding-right: 2rem;
  width: 100%;
}
/* small,
.text_small {
  font-size: 0.833rem;
} */

code {
  --border-radius: 3px;
  --padding-block: 0.2rem;
  --padding-inline: 0.33rem;

  font-family: var(--font-mono);
  font-size: 0.85em;
  color: inherit;
  background-color: var(--theme-code-inline-bg);
  padding: var(--padding-block) var(--padding-inline);
  margin: calc(var(--padding-block) * -1) -0.125em;
  border-radius: var(--border-radius);
  word-break: break-word;
}

pre.astro-code > code {
  all: unset;
}

pre {
  position: relative;
  --padding-block: 1rem;
  --padding-inline: 2rem;
  padding: var(--padding-block) var(--padding-inline);
  padding-right: calc(var(--padding-inline) * 2);

  overflow-y: hidden;
  overflow-x: auto;
}

@media (min-width: 37.75em) {
  pre {
    --padding-inline: 1.25rem;
    border-radius: 8px;
  }
}
blockquote {
  font-size: 1.5rem;
  --padding-block: 1rem;
  --padding-inline: 1.25rem;
  --color: var(--theme-divider);
  display: flex;
  flex-direction: column;

  padding: var(--padding-block) var(--padding-inline);
  margin-left: calc(var(--padding-inline) * -1);
  margin-right: calc(var(--padding-inline) * -1);

  background: transparent;
  border-left: calc(var(--padding-inline) / 2) solid var(--color);
  border-radius: 0;
}

blockquote .source {
  font-weight: 500;
  color: var(--color);
  font-size: 1rem;
}
