---
// Component Imports
import Badges from "@components/Badges.astro"
import BaseHead from "@components/BaseHead.astro"
import Elaina from "public/Elaina.webp"
import { Image } from "astro:assets"
import Link from "@components/Link.astro"
// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
const title = "Home | Mike.Lxk"
const description = "Mike's blog"

// Data Fetching: List all Markdown posts in the repo.

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
  <head>
    <BaseHead {title} {description} />
  </head>
  <body>
    <div
      class="mx-auto my-12 max-w-screen-md px-4 transition-all duration-100 sm:my-20 sm:px-6 md:my-32 md:px-8"
    >
      <div class="flex flex-col sm:flex-row">
        <img
          class="pointer-events-none h-24 w-24 rounded-full md:h-32 md:w-32"
          src={Elaina.src}
          alt="avatar"
          loading="eager"
        />
        <div class="mt-8 flex flex-col justify-center sm:mt-0 sm:ml-8">
          <p class="text-2xl leading-tight md:text-3xl">Hello, I'm</p>
          <h1 class="text-4xl font-semibold leading-tight md:text-5xl">
            Mike Li
          </h1>
        </div>
      </div>
      <p class="mt-6 text-lg leading-7 md:mt-10">
        I'm currently a Software Engineer at 2K Games. Interested in C++ and
        Javascript.
        <p class="mt-4 text-lg leading-7 md:mt-8">
          Wanna know more? <Link
            text="Email"
            href="mailto:mike.lxk@gmail.com"
          />
          me or take a look at my <Link text="Blog" href="/blogs" />.
        </p>
        <Badges />
      </p>
    </div>
  </body>
</html>
