---
// Component Imports
import Badges from "@components/Badges.astro"
import BaseHead from "@components/BaseHead.astro"
import Elaina from "/Elaina.webp"
import Link from "@components/Link.astro"
// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
const title = "Home | Mike.Lxk"
const description = "Mike's blog"

// Data Fetching: List all Markdown posts in the repo.

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
  <head>
    <BaseHead {title} {description} />
  </head>
  <body>
    <div
      class="mx-auto my-12 max-w-screen-md px-4 sm:my-20 sm:px-6 md:my-32 md:px-8"
    >
      <div class="flex flex-col sm:flex-row">
        <img
          class="h-24 w-24 rounded-full md:h-32 md:w-32"
          src={Elaina}
          alt="avatar"
        />
        <div class="mt-8 flex flex-col justify-center sm:mt-0 sm:ml-8">
          <p class="text-2xl leading-tight md:text-3xl">Hi, I'm</p>
          <h1 class="leading-tight font-semibold text-4xl md:text-5xl">Mike</h1>
        </div>
      </div>
      <p class="mt-10 text-lg leading-7">
        I'm currently a CS undergrad at UF. Interested in C++ and Javascript.
        I'm now working on <Link
          href="https://github.com/listen1/listen1_chrome_extension"
          text="Listen1"
        /> and <Link href="https://github.com/STEM-C/CaSMM" text="CaSMM" />.
      </p>
      <p class="mt-8 text-lg leading-7">
        Wanna know more? <Link text="Email" href="mailto:mike.lxk@gmail.com" /> me
        or take a look at my <Link text="Blog" href="/blogs" />.
      </p>
      <Badges />
    </div>
  </body>
</html>
