---
import Badge from "./Badge.astro"
---

<div class="md:mt-10 flex md:gap-x-16 gap-x-6 mt-6">
  <Badge name="mdi:github" href="https://github.com/mikelxk" text="Github" />
  <Badge
    name="mdi:linkedin"
    href="https://www.linkedin.com/in/xiaokai-li/"
    text="LinkedIn"
  />
  <Badge
    name="mdi:twitter"
    href="https://twitter.com/mike_lxk"
    text="Twitter"
  />
  <Badge
    name="fluent:mail-28-filled"
    href="mailto:mike.lxk@gmail.com"
    text="Email"
  />
  <Badge name="jam:blogger" href="/blogs" text="My blogs" />
</div>
