---
import Badge from "./Badge.astro";
---

<div class="mt-10 flex gap-x-16 ">
  <Badge name="mdi:github" href="https://github.com/mikelxk" text="Github" />
  <Badge name="mdi:twitter" href="https://twitter.com/mike_lxk" text="Twitter"
  />
  <Badge
    name="fluent:mail-28-filled"
    href="mailto:mike.lxk@gmail.com"
    text="Email"
  />
  <Badge name="jam:blogger" href="/blogs" text="My blogs" />
</div>
