---
import { Icon } from "astro-icon/components"
const { href, text, name } = Astro.props
---

<a {href} aria-label={text}>
  <Icon
    {name}
    class="h-7 w-7 text-gray-500 transition duration-150 ease-in-out hover:text-gray-900 dark:text-gray-400 dark:hover:text-white"
  />
</a>
