---
interface Props {
  title: string
  description: string
}
import { ClientRouter } from "astro:transitions"
import "../styles/base.css"
const { title, description } = Astro.props
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<link rel="preload" as="image" href="/Elaina.webp" />
<link rel="icon" type="image/x-icon" href="/Elaina.webp" />
<link
  rel="alternate"
  type="application/rss+xml"
  title="Mike's Site"
  href={new URL("rss.xml", Astro.site)}
/>
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<ClientRouter />
