---
export interface Props {
  title: string
  description: string
}
import "../styles/blog.css"
import { ClientRouter } from 'astro:transitions';
const { title, description } = Astro.props as Props
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<link rel="preload" as="image" href="/Elaina.webp" />
<link rel="icon" type="image/x-icon" href="/Elaina.webp" />
<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<ClientRouter />