<header class="wrapper pt-4 pb-4 h-20">
  <article class="flex items-center justify-between">
    <h1 class="m-0 max-w-full text-2xl flex flex-grow">
      <a href="/" class="no-underline inline-flex">
        <img
          class="rounded-full h-10 translate-y-1"
          src="/Elaina.webp"
          alt="Mike's avatar"
        />
        <span>Mike's Blog</span>
      </a>
    </h1>
  </article>
</header>
