---
import Author from "./Author.astro"
export interface Props {
  title: string
  author: string
  publishDate: string
  heroImage: string
  alt: string
}
const { title, author, publishDate, heroImage, alt } = Astro.props
---

<head> </head>
<div class="layout">
  <article class="content mb-32">
    <div>
      <header class="flex flex-col text-center items-center justify-center pb-8 mb-8 border-b border-[var(--theme-divider)]">
        {
          heroImage && (
            <img
              width="720"
              height="420"
              class="mt-0 mb-8 w-[100vw] max-w-7xl object-cover object-center md:mt-8 md:mb-16 md:h-64"
              loading="lazy"
              src={heroImage}
              {alt}
            />
          )
        }
        <p class="publish-date m-0 text-[var(--theme-text-lighter)]">{publishDate}</p>
        <h1 class="title m-0 text-4xl font-extrabold text-[#4b81bf]">{title}</h1>
        <Author name="@mikelxk" href="https://github.com/mikelxk" />
      </header>
      <main>
        <slot />
      </main>
    </div>
  </article>
</div>
