<header class="wrapper h-20 pt-4 pb-4">
  <article class="flex items-center justify-between">
    <h1 class="m-0 flex max-w-full grow text-2xl">
      <a href="/" class="inline-flex no-underline">
        <img
          class="h-10 translate-y-1 rounded-full"
          src="/Elaina.webp"
          alt="Mike's avatar"
        />
        <span
          class="ml-1 bg-linear-to-r from-blue-500 to-cyan-500 bg-clip-text text-transparent"
          >Mike's Blog</span
        >
      </a>
    </h1>
  </article>
</header>
