---
import Author from "./Author.astro"
export interface Props {
  title: string
  author: string
  publishDate: string
  heroImage: string
  alt: string
}
const { title, author, publishDate, heroImage, alt } = Astro.props
---

<head> </head>
<div class="layout">
  <article class="content mb-32">
    <div>
      <header
        class="mb-8 flex flex-col items-center justify-center border-b border-[var(--theme-divider)] pb-8 text-center"
      >
        {
          heroImage && (
            <img
              width="720"
              height="420"
              class="mt-0 mb-8 w-[100vw] max-w-7xl object-cover object-center md:mt-8 md:mb-16 md:h-64"
              loading="lazy"
              src={heroImage}
              {alt}
            />
          )
        }
        <p class="publish-date m-0 text-[var(--theme-text-lighter)]">
          {publishDate}
        </p>
        <h1
          class="title m-0 bg-gradient-to-r from-cyan-500 to-blue-500 bg-clip-text text-5xl font-extrabold leading-snug text-transparent"
        >
          {title}
        </h1>
        <Author name="@mikelxk" href="https://github.com/mikelxk" />
      </header>
      <main>
        <slot />
      </main>
    </div>
    <script
      src="https://utteranc.es/client.js"
      repo="mikelxk/astro-site"
      issue-term="pathname"
      theme="preferred-color-scheme"
      crossorigin="anonymous"
      async
    ></script>
  </article>
</div>
