---
interface Props {
  name: string
  href: string
  desc: string
}
const { name, href, desc } = Astro.props
---

<li>
  <a {href} class="font-semibold hover:underline inline-block">
    {name}
  </a>{" "}
  - {desc}
</li>
